{% extends "oscar/checkout/checkout.html" %}
{% load currency_filters %}
{% load i18n %}

{% block title %}
    {% trans "Payment details" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'oscar/checkout/nav.html' with step=3 %}
{% endblock %}

{% block checkout_title %}{% trans "payment details" %}{% endblock %}

{% block order_contents %}{% endblock %}
{% block shipping_address %}{% endblock %}
{% block shipping_method %}{% endblock %}
{% block payment_method %}{% endblock %}


{% block payment_details %}

    <p>
        {% trans "Order total" %}:
            {% if order_total.is_tax_known %}
                {{ order_total.incl_tax|currency }}
            {% else %}
                {{ order_total.excl_tax|currency }}
            {% endif %}.
        {{ to_allocate|currency }}
    </p>
    
    <a class="btn btn-primary" href="{% url 'checkout:preview' %}" role="button">Link</a>

{% endblock %} 